In [1]:
import numpy as np
import pandas as pd

In [2]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot

print(__version__) # requires version >= 1.9.0

2.2.2

In [3]:
%matplotlib inline

In [4]:
init_notebook_mode(connected=True)

In [5]:
cf.go_offline()

NameError: name 'cf' is not defined

In [7]:
df1 = pd.read_csv('temperature_history.csv', skiprows=[1], header=None).T
df2=df1.drop([0,1,2,3],axis=0)


df4=df2.drop([0],axis=1)
df1

,0,1,2,3,4,5,6,7,8,9,...,18063,18064,18065,18066,18067,18068,18069,18070,18071,18072
0,station_id,1,1,1,1,1,1,1,1,1,...,11,11,11,11,11,11,11,11,11,11
1,year,2004,2004,2004,2004,2004,2004,2004,2004,2004,...,2008,2008,2008,2008,2008,2008,2008,2008,2008,2008
2,month,1,1,1,1,1,1,1,1,1,...,6,6,6,6,6,6,6,6,6,6
3,day,2,3,4,5,6,7,8,9,10,...,21,22,23,24,25,26,27,28,29,30
4,h1,43,45,63,64,47,30,29,33,24,...,57,64,63,56,58,63,73,71,69,70
5,h2,44,46,62,63,46,29,26,33,22,...,57,63,62,55,56,62,71,71,69,65
6,h3,46,46,62,65,45,28,24,32,21,...,57,61,62,54,55,62,71,72,67,64
7,h4,46,44,62,64,43,28,22,31,20,...,55,61,61,53,54,62,69,71,66,64
8,h5,47,43,60,64,41,28,22,31,19,...,55,59,59,53,54,61,66,69,66,64
9,h6,47,46,60,64,41,26,22,32,19,...,54,57,60,53,53,61,68,69,67,64
10,h7,47,46,60,64,39,26,24,31,17,...,56,60,60,54,54,63,67,72,67,NaN
11,h8,47,47,62,64,39,26,22,31,17,...,59,62,64,60,59,70,73,74,71,NaN
12,h9,47,51,60,65,40,26,25,31,15,...,64,66,68,65,64,77,78,78,76,NaN
13,h10,47,55,64,66,43,28,31,33,15,...,70,70,72,70,70,79,80,79,78,NaN
14,h11,47,56,64,66,45,28,35,31,19,...,74,74,77,73,76,81,83,83,78,NaN
15,h12,49,59,66,67,44,29,37,31,19,...,78,78,79,77,80,84,84,85,79,NaN
16,h13,52,65,71,68,45,29,37,33,19,...,79,80,80,77,81,87,83,85,79,NaN
17,h14,56,68,70,68,46,31,36,34,22,...,80,81,80,79,81,89,83,84,75,NaN
18,h15,54,69,71,66,46,31,36,33,22,...,80,81,82,79,83,89,86,88,79,NaN
19,h16,56,68,72,66,46,31,35,33,20,...,76,79,77,80,84,89,86,89,81,NaN
20,h17,57,68,71,66,45,31,35,33,20,...,69,79,81,80,85,91,86,89,81,NaN
21,h18,53,65,68,66,39,30,34,31,20,...,75,71,80,80,84,89,86,80,81,NaN
22,h19,50,64,67,63,39,30,35,31,18,...,74,71,79,79,83,88,83,78,79,NaN
23,h20,47,63,67,54,39,30,35,31,18,...,73,71,74,76,81,85,81,77,78,NaN
24,h21,46,62,65,52,38,29,37,30,18,...,68,66,70,71,74,79,78,73,73,NaN
25,h22,45,63,64,49,36,31,35,29,18,...,65,65,66,64,71,76,75,71,72,NaN
26,h23,45,63,65,47,32,30,35,27,18,...,64,64,62,62,67,75,73,71,70,NaN
27,h24,45,62,64,47,32,30,34,26,18,...,64,63,60,60,65,72,71,71,70,NaN

In [7]:
df4 = pd.read_csv('Load_history.csv', skiprows=[1], header=None).T
# df5= df4.drop(['zone_id','year','month','day'],axis=1)
# df6=df5.transpose()
# df4
df5 = df4.drop([0,1,2,3],axis=0)
#df5 = df5.reset_index()
#df5.set

C:\Users\Anon\Anaconda3\envs\python36\lib\site-packages\IPython\core\interactiveshell.py:2728: DtypeWarning:

Columns (0,1,2,3) have mixed types. Specify dtype option on import or set low_memory=False.

In [8]:
df6= df5.drop(['index',0],axis=1)
df6

ValueError: labels ['index'] not contained in axis

In [10]:
x=df6.iloc[1:10, 2:3]
x
df6[[1,2]].iplot(kind='line')

NameError: name 'df6' is not defined